#root {
  width: 380px;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  background-color: #fff;
  color: #0e94f4;
  border-radius: 20px;
}

body {
  background: linear-gradient(to right, #057cb8, #3eff30);
}

.social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.text-blue::placeholder {
  color: rgb(158, 128, 157);
}